body {
    background-color: #edf0f7;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    line-height: 30%;
    font-family: Roboto;
    font-weight: 500;
}

p, li, button {
    font-family: Poppins;
}

.liteButtonContainer {
    text-align: center;
    margin: 0;
    padding: 0;
}

.liteButton {
    background-color: #7400e8;
    color: white;
    font-size: 10px;
    border: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 8px;  
}

.proButtonContainer {
    text-align: center;
    margin: 0;
    padding: 0;
}

.proButton {
    background-color: white;
    color: black;
    font-size: 10px;
    border: 0px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-radius: 8px; 
}

.outerContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;

}

.innerContainer {
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: 900px;
    max-height: 800px;
    border-radius: 30px;
    padding: 2rem;
    margin: 4rem;
    box-shadow: 0 3px 30px #bec1c7;
}

.adContainer {
    background-color: #7400e8;
    color: white;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    height: 550px;
    width: 30%;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.rightContainer {
    display: flex;
    flex-direction: column-reverse;
}

.packagesContainer {
    display: flex;
    flex-direction: row;
}

.liteContainer {
    background-color: #edf0f7;
    color: black;
    text-align: left;
    padding: 1rem;
    border-radius: 30px;
    height: 450px;
    width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: auto;
    margin-bottom: 1rem;
}

.proContainer {
    background-color: #7400e8;
    color: white;
    text-align: left;
    padding: 1rem;
    border-radius: 30px;
    height: 450px;
    width: 50%;
    margin-top: auto;
    margin-bottom: 1rem;
}

.topVerbiage {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: 3rem;
}

.robotImage {
    max-height: 200px;
}

